html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /*background-image:url("https://shastasublime.github.io/MoonlightRose.jpg");*/
      
  background-color:lightblue;}
h1 {font-size:33px;}
